{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">
    <label for="title">Title</label>
    <input id="title" name="title" value="{{ post.title }}">
    <br>
    <label for="content">Post Content</label>
    <textarea id="content" name="content">{{ post.content }}</textarea>
    <br>
    <div>
        {% for tag in tags %}
        <div>
          <input type="checkbox"
                 value="{{ tag.id }}"
                 id="tag_{{ tag.id }}"
                 name="tags">
                 {% if tag in post.tags %}checked{% endif %}

          <label for="tag_{{ tag.id }}">
            {{ tag.name }}
          </label>
        </div>
        {% endfor %}
      </div>
    <a href="/posts/{{ post.id }}">Cancel</a>
    <button type="submit">Edit</button>

</form>

{% endblock %}